.colorVerdeOscuro {
  border: 2px ridge rgba(21,92,23,0.71) !important;
}

.colorBlue {
  background-color: #17A2B8;
}

body {
  /* El gradiente que estabas usando */
  background-color: rgb(240,240,240);
  
  /* Aseguramos que siempre cubra toda la pantalla */
  min-height: 100vh;
  
  /* Un color de texto base que funcione con el fondo */
  color: white;
}