.colorVerdeOscuro {
  border: 3px ridge rgba(21,92,23,0.71) !important;
}

.colorVerdeClaro {
  background-color: #198754;
}

body {
  /* El gradiente que estabas usando */
  background-color: rgb(230,230,230);
  
  /* Aseguramos que siempre cubra toda la pantalla */
  min-height: 100vh;
  
  /* Un color de texto base que funcione con el fondo */
  color: white;
}